# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Secrets
.env

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Build artifacts
*.apk
*.aab
*.apks
*.jar
*.zip
*.keystore


# Native folders
/android
/ios
