# Secrets
.env

# Metadata/env variants
.env.example
.env.local
.env.*.local

# Android signatures/credentials
*.jks
*.keystore
*.p12
*.pem
*.pub
*.pfx

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Build artifacts
*.apk
*.aab
*.apks
*.jar
*.zip

# Native folders
/android
/ios
